
<div class="display-flex-center" style="justify-content: space-between;">
  <div class="width-25 padding-2 prod-loader">
    <div class="animated-background full-height prod-loader-inner"></div>
  </div>
  <div class="width-25 padding-2 prod-loader">
    <div class="animated-background full-height prod-loader-inner"></div>
  </div>
  <div class="width-25 padding-2 prod-loader">
    <div class="animated-background full-height prod-loader-inner"></div>
  </div>
  <div class="width-25 padding-2 prod-loader">
    <div class="animated-background full-height prod-loader-inner"></div>
  </div>
</div>

