
<div class="display-flex-center">
  <div class="padding-2" style="width: 17%;">
    <div class="animated-background" style="width: 88px; height: 88px;"></div>
  </div>
  <div class="padding-2" style="width: 52%;">
    <div class="animated-background" style="height: 60px;"></div>
  </div>
</div>

<div style="height: 20px;"></div>

<div class="animated-background" style="height: 25px;"></div>

<div style="height: 20px;"></div>

<div class="animated-background" style="height: 12px;"></div>
<div style="height: 3px;"></div>

<div class="animated-background" style="height: 12px;"></div>
<div style="height: 3px;"></div>

<div class="animated-background" style="height: 12px;"></div>
<div style="height: 3px;"></div>

<div class="animated-background" style="height: 12px;"></div>
<div style="height: 3px;"></div>
