<div>
  playnow-information works!
  
</div>
<div>

    <span>{{description}}</span>
    <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            This is the expansion title
          </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content
          </mat-panel-description>
        </mat-expansion-panel-header>
      
        <p>This is the primary content of 312the panel.</p>
        <p>This is the primary content of th312e panel.</p>
        <p>This is the primary contentewq of 312the panel.</p>
        <p>This is the primary content of312 the panel.</p>
        <p>This is the pri312m312ary coneqwtent of the panel.</p>
        <p>This is the primary cont321ent of the panel.</p>
        <p>This is the prim321ary content of the panel.</p>
        <p>This is the prim12a3ry content of the panel.</p>
        <p>This is the prim1eary content of the panel.</p>
        <p>This is the priewqmary content of the panel.</p>
        <p>This is the pri321mary content of the panel.</p>
        <p>This is the preqimary content of the panel.</p>
      
      </mat-expansion-panel></mat-accordion>
</div>
