
<div class="display-flex-center" style="justify-content: space-between;">
  <div class="width-40 padding-2" style="height: 100px;">
    <div class="animated-background full-height"></div>
  </div>
  <div class="width-60 padding-2" style="height: 100px;">
    <div class="animated-background" style="height: 45px;"></div>
    <div style="height: 6px;"></div>
    <div class="animated-background" style="height: 45px;"></div>
  </div>
</div>

<div style="height: 20px;"></div>

<div class="animated-background" style="height: 25px;"></div>

<div style="height: 20px;"></div>

<div class="animated-background" style="height: 12px;"></div>
<div style="height: 3px;"></div>

<div class="animated-background" style="height: 12px;"></div>
<div style="height: 3px;"></div>

<div class="animated-background" style="height: 12px;"></div>
<div style="height: 3px;"></div>

<div class="animated-background" style="height: 12px;"></div>
<div style="height: 3px;"></div>
