
<h1 mat-dialog-title>Profilul tau de producator se afla in curs de validare</h1>
<div mat-dialog-content>
  <p>Calitatea materialelor distribuite prin intermediul aplicatiei WeVeed reprezinta o prioritate pentru noi. Astfel, fiecare producator de continut video va trece printr-un proces de validare.</p>
  <p>Pana la validarea contului, productiile tale nu vor aparea in zonele de interes ale aplicatiei: canalele WeVeed si pagina Descopera.</p>
  <div style="height: 10px;"></div>

  <h5>Pentru a fi validat, profilul tau de producător trebuie să conțină:</h5>
  <h6 style="color: #2da8da;">•	Imagine de profil producător</h6>
  <h6 style="color: #2da8da;">•	Descriere producător</h6>
  <h6 style="color: #2da8da;">•	Minim o emisiune</h6>
  <h6 style="color: #2da8da;">•	Minim un episod încărcat</h6>

  <div style="height: 10px;"></div>
  
  <h5>Ce aspecte ale creațiilor tale sunt verificate?</h5>
  <h6 style="color: #2da8da;">•	Formatul materialelor (este recomandat să fie similar unei emisiuni, serial, film, vlog nișat pe o categorie de interes sau videoclip muzical)</h6>
  <h6 style="color: #2da8da;">•	Temele abordate în episoade (este recomandat să fie in concordanță cu categoria emisiunii)</h6>
  <h6 style="color: #2da8da;">•	Calitatea imaginii și a sunetului</h6>

  <div style="height: 10px;"></div>

  <p>De indata ce informatiile precizate mai sus vor fi completate de catre tine, profilul tau va fi supus verificarii.</p>

  <p>Multumim pentru intelegere!</p>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onOkClick()">Ok</button>
</div>


<!-- Cum trebuie să arate contul tău pentru a intra în procesul de validare?
Contul de producător trebuie să conțină: 
•	Imagine de profil producător.
•	Descriere producător.
•	Minim o emisiune.
•	Minim un episod încărcat.

Ce aspecte ale creațiilor tale sunt verificate?
•	Formatul materialelor (este recomandat să fie similar unei emisiuni, serial, film, vlog nișat pe o categorie de interes sau videoclip muzical).
•	Temele abordate în episoade (este recomandat să fie in concordanță cu categoria emisiunii).
•	Calitatea imaginii și a sunetului. -->