
<div class="animated-background margin-top-10 height-35"></div>
<div style="height: 20px;"></div>
<div class="animated-background height-35"></div>
<div style="height: 30px;"></div>

<div class="animated-background width-40 height-20"></div>
<div style="height: 20px;"></div>
<div class="display-flex-center" style="justify-content: space-between;">
  <div class="animated-background width-48" style="height: 120px;"></div>
  <div class="animated-background width-48" style="height: 120px;"></div>
</div>

<div style="height: 30px;"></div>

<div class="animated-background width-40 height-20"></div>
<div style="height: 20px;"></div>
<div class="display-flex-center" style="justify-content: space-between;">
  <div class="animated-background width-48" style="height: 120px;"></div>
  <div class="animated-background width-48" style="height: 120px;"></div>
</div>

<div style="height: 30px;"></div>

<div class="animated-background width-40 height-25"></div>
<div style="height: 20px;"></div>
<div class="display-flex-center" style="justify-content: space-between;">
  <div class="animated-background width-48" style="height: 120px;"></div>
  <div class="animated-background width-48" style="height: 120px;"></div>
</div>