
<div class="display-flex-center" style="justify-content: space-between;">
  <div class="width-35 padding-2" style="height: 91px;">
    <div class="animated-background full-height"></div>
  </div>
  <div class="width-65 padding-2" style="height: 91px;">
    <div class="animated-background" style="height: 21px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 35%;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 30%;"></div>
  </div>
</div>

<div style="height: 10px;"></div>

<div class="animated-background" style="height: 18px;"></div>
<div style="height: 4px;"></div>

<div class="animated-background" style="height: 18px;"></div>
<div style="height: 4px;"></div>

<div class="animated-background" style="height: 18px;"></div>
<div style="height: 4px;"></div>
