<div class="terms-wrapper">
    <div>
        <h4>Despre noi</h4>
        <div>
            Ultima actualizare: 01 mai 2019
        </div>

        <div style="height: 20px;"></div>
    
        <h5>
          Echipa WeVeed
        </h5>

        <div style="height: 10px;"></div>

        <div class="about-us-img-wrapper">
          <div>
            <img src="assets/cri.jpeg" class="about-us-img not-selectable">
            <div class="text-center" style="color: #e6e6e6;">
              Cristian Cirstocea
            </div>
            <div class="text-center">
              Product Manager
            </div>
            <div class="text-center">
                +40 763 765 316
            </div>
          </div>
          <div>
            <img src="assets/criss.jpeg" class="about-us-img not-selectable">
            <div class="text-center" style="color: #e6e6e6;">
              Cristina Alexandru
            </div>
            <div class="text-center">
              Developer
            </div>
            <div class="text-center">
                +40 737 238 358
            </div>
          </div>
          <div>
            <img src="assets/mii.jpg" class="about-us-img not-selectable">
            <div class="text-center" style="color: #e6e6e6;">
              Mihai Stiuca
            </div>
            <div class="text-center">
                Developer
            </div>
            <div class="text-center">
                +40 729 123 772
            </div>
          </div>
        </div>

        <div style="height: 15px;"></div>

        <div style="text-align: center; color: #e6e6e6;">office@weveed.com</div>

        <div style="height: 20px;"></div>

         <h5>
                Descoperă cele mai tari emisiuni din online cu un singur click!
        </h5>
        <p>
            WeVeed este o aplicație de video sharing ce livrează, într-un mod dinamic și ușor de consumat, conținutul video prezent pe platformă.
        </p>

        <div style="height: 10px;"></div>

        <h5>
                Continutul este structurat în canale, producători, emisiuni si episoade.
        </h5>
        <p>
            <strong>Canal General</strong> - secțiune în care rulează ultimele 30 episoade ale celor mai performante emisiuni de pe platformă.                  </p>
        <p>
            <strong>Canal Nișat (ex. "Divestisment")</strong> - secțiune în care rulează ultimele 30 episoade ale celor mai performante emisiuni dintr-o anumita categorie.
        </p>
        <p>
            <strong>Canalul Meu</strong> - secțiune în care rulează ultimele 30 episoade ale emisiunilor urmărite de un utilizator.
        </p>
    
        <p>
            <strong>Producător</strong> - persoană fizică/juridică ce realizează una sau mai multe emisiuni nișate pe una sau mai multe categorii de interes.
        </p>
        <p>
            <strong>Emisiune</strong> - secțiune dedicată stocării episoadelor cu aceeași tematică.
        </p>
        <p>
            <strong>Episod</strong> - videoclip ce face parte dintr-o emisiune.
        </p>
    
        <div style="height: 10px;"></div>

        <h5>
              De ce vrei să fii utilizator?
        </h5>
        <p>
            Gasesti cu un singur click ultimele episoade relevante pentru categoriile tale de interes.
        </p>
        <p>
            Cele mai noi episoade ale emisiunilor tale preferate sunt afișate într-un singur loc (Canalul Meu).
        </p>
        <p>
             Poți explora secțiunea "Descoperă" pentru ultimele noutăți.
        </p>
    
        <div style="height: 10px;"></div>

        <h5>
                De ce vrei să fii producător?
        </h5>
        <p>
            Creațiile tale vor fi expuse în 3 secțiuni importante ale platformei: Canal General, Canal Nișat și Descoperă.
        </p>
        <p>
            Datorită afișării în canale, alături de alte producții de calitate,  videoclipurile tale se vor avea o audiență nouă și diversificată. Fiecare producător performant al platformei se bucură de valoarea de sinergie a tuturor creațiilor prezente în canale.
        </p>
        <p>
            Datorită secțiunii "Canalul Meu" un procent foarte mare din urmăritorii emisiunilor tale vor vizualiza episoadele postate.                                                                                       
        </p>
    
        <div style="height: 20px;"></div>
        
        <h6>© 2019 WeVeed. Toate drepturile rezervate.</h6>
    </div>
    
</div>