<!-- <perfect-scrollbar [config]="config" #formScroll> -->
<perfect-scrollbar #formScroll>
  
  <div class="account-tab-info-inner-container">
    <div class="menu-form-header">
      <a (click)="backToProfile()" class="back-in-menu flex-1" href="javascript:void(0)">
        <fa-icon class="" [icon]="['fas', 'chevron-left']" >
        </fa-icon>
        <!-- Inapoi la profil -->
      </a>
      <h5 class="text-center font-18-slim" style="margin: 0;">Creeaza emisiune</h5>
      <div class="flex-1"></div>
    </div>

    <div class="menu-form-wrapper">
      <form [formGroup]="createSeriesForm" autocomplete="off" (keydown)="keyDownFunctionOnForm($event)">
          <mat-form-field class="">
            <input matInput
              placeholder="Numele emisiunii"
              autocomplete="off" autofocus 
              [formControl]="name">
            <mat-error *ngIf="name.hasError('required')">
              Numele emisiunii este <strong>obligatoriu</strong>
            </mat-error>
            <mat-error *ngIf="name.hasError('isSeriesNameUnique')">
              Numele emisiunii este deja utilizat
            </mat-error>
            <mat-error *ngIf="name.hasError('maxlength')">
              Numele emisiunii trebuie sa aiba maxim <strong>70 de caractere</strong>
            </mat-error>
            <mat-spinner *ngIf="isNameUniqueRequestLoading" class="field-loading-spinner">
            </mat-spinner>
            <fa-icon class="check-field-icon" [icon]="['fas', 'check-circle']"
              *ngIf="!name.hasError('required') && !name.hasError('maxlength') && !name.hasError('isSeriesNameUnique') && !isNameUniqueRequestLoading" [@fadeInOut] >
            </fa-icon>
          </mat-form-field>
        
          <mat-form-field>
            <!-- <perfect-scrollbar [config]="config"> -->
            <perfect-scrollbar>
              <textarea matTextareaAutosize matInput class="no-scrollbar prevent-enter-submit min-height-50 max-height-105" 
                placeholder="Descriere" [formControl]="description">
              </textarea>
            </perfect-scrollbar>
            <mat-error *ngIf="description.hasError('required')">
              Descrierea este <strong>obligatorie</strong>
            </mat-error>
            <mat-error *ngIf="description.hasError('maxlength')">
              Maxim <strong>1000 de caractere</strong> acceptate
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Categoria emisiunii" [formControl]="category">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{category.text}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="category.hasError('required')">Te rugam sa alegi o categorie</mat-error>
            <mat-hint>{{category.value?.hint}}</mat-hint>
          </mat-form-field>
          
          <div style="height: 10px;"></div>

          <label *ngIf="seriesCoverImageEditableIsDisplayed" for="seriesCoverUploader" class="add-cover-label transition-1s">
            <fa-icon class="font-size-25 transition-1s" [icon]="['fas', 'camera']"></fa-icon>
            <br>
            <span>Adauga imaginea de coperta</span>
            <br>
            <span style="font-size: 12px;">Dimensiune recomandata: 380px x 160px</span>
          </label>

          <input #imageInputCover class="display-none" id="seriesCoverUploader" 
            type="file" accept="image/png, image/jpeg" (change)="fileChangeEvent($event)" />
          <div *ngIf="!seriesCoverImageEditableIsDisplayed" class="image-cropper-wrapper cropper-create-series">
            <div class="remove-image-icon-wrapper transition-1s" (click)="removeImage()">
              <fa-icon class="remove-image-icon transition-1s" [icon]="['fas', 'times-circle']"></fa-icon>
            </div>
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="19 / 8"
                [resizeToWidth]="570"
                format="png"
                (imageCroppedBase64)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
            
            <div class="display-none">
              <img class="cropper-image" [src]="croppedImage" />
            </div>
          </div>
          <div *ngIf="!seriesCoverImageEditableIsDisplayed" class="helper-grey-text text-center">
            <div>Ajusteaza imaginea</div>
          </div>
      </form>

      <div *ngIf="showImageErrorMessage" style="color: #f44336; font-size: 10.5px;;">
        Adaugati o imagine de coperta emisiunii create.
      </div>

      <div style="height: 20px;"></div>

      <div class="flex-space-between">
        <div class="flex-1">
          <button (click)="backToProfile()" mat-button class="cancel-btn float-right">Renunta</button>
        </div>
        <div class="flex-1 text-center">
          <button class="style-ladda" [ladda]="isFormSubmitting" (click)="submitCreateForm()" mat-button>Creeaza</button>
        </div>
        <div class="flex-1"></div>
      </div>
    </div>
  </div>

</perfect-scrollbar>