<div [ngClass]="{'main-form-wrapper': !isOpenFromSidebar, 'form-wrapper-sidebar': isOpenFromSidebar}">
    <div class="form-step">
      <div class="app-form-logo-wrapper">
        <img class="app-form-logo" src="assets/logo.png">
      </div>
  
      <h5 class="text-center font-slimm">Conectare</h5>
      <div style="height: 10px;"></div>
  


      <form [formGroup]="loginForm" autocomplete="off" (keydown)="keyDownFunctionOnForm($event)">
        
        <mat-form-field>
          <input matInput placeholder="Email" [formControl]="email" autofocus >
          <mat-error *ngIf="email.hasError('required')">
            Email-ul este <strong>obligatoriu</strong>
          </mat-error>
          <mat-error *ngIf="email.hasError('maxlength')">
            Maxim <strong>256 de caractere</strong> acceptate
          </mat-error>
          <mat-error *ngIf="email.hasError('pattern')">
            Email-ul ales nu este unul valid
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Parola" [formControl]="password">
          <mat-error *ngIf="password.hasError('required')">
            Parola este <strong>obligatorie</strong>
          </mat-error>
          <mat-error *ngIf="password.hasError('maxlength')">
            Maxim <strong>32 de caractere</strong> acceptate
          </mat-error>
          <mat-error *ngIf="password.hasError('minlength')">
            Minim <strong>8 caractere</strong> acceptate
          </mat-error>
        </mat-form-field>

      </form>

      <div style="height: 20px;">
          <div *ngFor="let error of generalErrorList" _ngcontent-c12="" class="mat-error general-form-error" role="alert">
            {{error}}
          </div>
      </div>

      <div style="height: 20px;"></div>
  
      <button [ladda]="isSubmitting" class="app-confirm-btn" (click)="submitLoginForm()">
        <span>Conecteaza-te</span>
      </button>
      <div style="height: 10px; text-align: right;"></div>

      <div class="text-center font-13">
        Nu ai un cont? <a href="javascript:void(0)" (click)="goToRegister()">Creaza un cont nou</a>
      </div>

      <div style="height: 10px"></div>

      <div class="text-center font-13">
        <a href="javascript:void(0)" (click)="goToResetPasswordSendEmail()">Ai uitat parola?</a>
      </div>

      <!-- <div style="height: 10px;"></div>
      <div class="or-container">
        <div class="or-left">
          <hr class="or-hr">
        </div>
        <div class="or-middle">
          sau
        </div>
        <div class="or-right">
          <hr class="or-hr">
        </div>
      </div>
      <div style="height: 10px;"></div>
  
      <button [ladda]="isSubmittingFacebook" class="app-fb-btn" (click)="loginWithFB()">Conectare cu Facebook</button> -->
    </div>
</div>