
<div class="display-flex-center" style="justify-content: space-between;">
    <div class="width-50 padding-2" style="height: 104px;">
      <div class="animated-background full-height"></div>
    </div>
    <div class="width-50 padding-2" style="height: 104px;">
      <div class="animated-background full-height"></div>
    </div>
  </div>

  
<!-- <div class="display-flex-center" style="justify-content: space-between;">
    <div class="width-50" style="height: 162px; padding: 4px;">
      <div class="animated-background full-height"></div>
    </div>
    <div class="width-50" style="height: 162px; padding: 4px;">
      <div class="animated-background full-height"></div>
    </div>
  </div> -->