<div class="main-form-wrapper rstpwd-screen-width">
  <div class="form-step">
    <div class="app-form-logo-wrapper">
      <img class="app-form-logo" src="assets/logo.png">
    </div>

    <h5 class="text-center font-slimm">Resetare parola</h5>
    <div style="height: 30px;"></div>
    <h6 class="text-center font-slimm">Te rugam sa introduci noua parola</h6>

    <div style="height: 20px;"></div>

    <form [formGroup]="formReset" autocomplete="off" (keydown)="keyDownFunctionOnForm($event)">
      
      <mat-form-field>
        <input matInput type="password" placeholder="Parola" [formControl]="password" autofocus >
        <mat-error *ngIf="password.hasError('required')">
          Parola este <strong>obligatorie</strong>
        </mat-error>
        <mat-error *ngIf="password.hasError('minlength')">
          Minim <strong>8 caractere</strong> acceptate
        </mat-error>
        <mat-error *ngIf="password.hasError('maxlength')">
          Maxim <strong>32 de caractere</strong> acceptate
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Confirma parola" [formControl]="confirmPassword">
        <mat-error *ngIf="confirmPassword.hasError('required')">
          Confirmarea parolei este <strong>obligatorie</strong>
        </mat-error>
        <mat-error *ngIf="confirmPassword.hasError('maxlength')">
          Maxim <strong>32 de caractere</strong> acceptate
        </mat-error>
        <mat-error *ngIf="confirmPassword.hasError('minlength')">
          Minim <strong>8 caractere</strong> acceptate
        </mat-error>
        <mat-error *ngIf="confirmPassword.hasError('matchpassword')">
          Parola nu este confirmata
        </mat-error>
      </mat-form-field>

    </form>


    <div style="height: 20px;">
        <div *ngFor="let error of generalErrorList" _ngcontent-c12="" class="mat-error general-form-error" role="alert">
          {{error}}
        </div>
    </div>

    <div style="height: 20px;"></div>

    <button [ladda]="isSubmitting" class="app-confirm-btn" (click)="submitForm()">
      <span>Modifica parola</span>
    </button>

    <div style="height: 10px; text-align: right;"></div>

    

  </div>
</div>