
<div class="display-flex-center" style="justify-content: space-between;">
  <div class="width-50 padding-2" style="height: 100px;">
    <div class="animated-background full-height"></div>
  </div>
  <div class="width-50 padding-2" style="height: 100px;">
    <div class="animated-background" style="height: 17px;"></div>
    <div style="height: 8px;"></div>
    <div class="animated-background" style="height: 44px;"></div>
    <div style="height: 8px;"></div>
    <div class="animated-background" style="height: 17px;"></div>
  </div>
</div>

<div style="height: 20px"></div>

<div class="display-flex-center" style="justify-content: space-between;">
    <div class="width-50 padding-2" style="height: 100px;">
      <div class="animated-background full-height"></div>
    </div>
    <div class="width-50 padding-2" style="height: 100px;">
      <div class="animated-background" style="height: 17px;"></div>
      <div style="height: 8px;"></div>
      <div class="animated-background" style="height: 44px;"></div>
      <div style="height: 8px;"></div>
      <div class="animated-background" style="height: 17px;"></div>
    </div>
  </div>
  
  <div style="height: 20px"></div>
  
<div class="display-flex-center" style="justify-content: space-between;">
    <div class="width-50 padding-2" style="height: 100px;">
      <div class="animated-background full-height"></div>
    </div>
    <div class="width-50 padding-2" style="height: 100px;">
      <div class="animated-background" style="height: 17px;"></div>
      <div style="height: 8px;"></div>
      <div class="animated-background" style="height: 44px;"></div>
      <div style="height: 8px;"></div>
      <div class="animated-background" style="height: 17px;"></div>
    </div>
  </div>
  
  <div style="height: 20px"></div>
  
<div class="display-flex-center" style="justify-content: space-between;">
    <div class="width-50 padding-2" style="height: 100px;">
      <div class="animated-background full-height"></div>
    </div>
    <div class="width-50 padding-2" style="height: 100px;">
      <div class="animated-background" style="height: 17px;"></div>
      <div style="height: 8px;"></div>
      <div class="animated-background" style="height: 44px;"></div>
      <div style="height: 8px;"></div>
      <div class="animated-background" style="height: 17px;"></div>
    </div>
  </div>
  
  <div style="height: 20px"></div>