
<div style="height: 10px;"></div>

<div class="display-flex-center" style="justify-content: space-between;">
  <div class="padding-2" style="height: 133px; width: 44%;">
    <div class="animated-background full-height"></div>
  </div>
  <div class="padding-2" style="height: 133px; width: 54%;">
    <div class="animated-background" style="height: 21px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 35%;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 30%;"></div>
  </div>
</div>

<div style="height: 10px;"></div>

<div class="display-flex-center" style="justify-content: space-between;">
  <div class="padding-2" style="height: 133px; width: 44%;">
    <div class="animated-background full-height"></div>
  </div>
  <div class="padding-2" style="height: 133px; width: 54%;">
    <div class="animated-background" style="height: 21px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 35%;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 30%;"></div>
  </div>
</div>

<div style="height: 10px;"></div>

<div class="display-flex-center" style="justify-content: space-between;">
  <div class="padding-2" style="height: 133px; width: 44%;">
    <div class="animated-background full-height"></div>
  </div>
  <div class="padding-2" style="height: 133px; width: 54%;">
    <div class="animated-background" style="height: 21px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 35%;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 30%;"></div>
  </div>
</div>

<div style="height: 10px;"></div>

<div class="display-flex-center" style="justify-content: space-between;">
  <div class="padding-2" style="height: 133px; width: 44%;">
    <div class="animated-background full-height"></div>
  </div>
  <div class="padding-2" style="height: 133px; width: 54%;">
    <div class="animated-background" style="height: 21px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 35%;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 30%;"></div>
  </div>
</div>

<div style="height: 10px;"></div>

<div class="display-flex-center" style="justify-content: space-between;">
  <div class="padding-2" style="height: 133px; width: 44%;">
    <div class="animated-background full-height"></div>
  </div>
  <div class="padding-2" style="height: 133px; width: 54%;">
    <div class="animated-background" style="height: 21px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 35%;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 30%;"></div>
  </div>
</div>

<div style="height: 10px;"></div>

<div class="display-flex-center" style="justify-content: space-between;">
  <div class="padding-2" style="height: 133px; width: 44%;">
    <div class="animated-background full-height"></div>
  </div>
  <div class="padding-2" style="height: 133px; width: 54%;">
    <div class="animated-background" style="height: 21px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 35%;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 30%;"></div>
  </div>
</div>

<div style="height: 10px;"></div>

<div class="display-flex-center" style="justify-content: space-between;">
  <div class="padding-2" style="height: 133px; width: 44%;">
    <div class="animated-background full-height"></div>
  </div>
  <div class="padding-2" style="height: 133px; width: 54%;">
    <div class="animated-background" style="height: 21px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 35%;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 30%;"></div>
  </div>
</div>

<div style="height: 10px;"></div>

<div class="display-flex-center" style="justify-content: space-between;">
  <div class="padding-2" style="height: 133px; width: 44%;">
    <div class="animated-background full-height"></div>
  </div>
  <div class="padding-2" style="height: 133px; width: 54%;">
    <div class="animated-background" style="height: 21px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 35%;"></div>
    <div style="height: 4px;"></div>
    <div class="animated-background" style="height: 18px; width: 30%;"></div>
  </div>
</div>